[submodule "crm-backend"]
	path = crm-backend
	url = git@github.com:OptimCE/crm-backend.git
[submodule "crm-frontend"]
	path = crm-frontend
	url = git@github.com:OptimCE/crm-frontend.git
[submodule "kc-groupid-mapper"]
	path = keycloak/kc-groupid-mapper
	url = git@github.com:OptimCE/kc-groupid-mapper.git
[submodule "krakend"]
	path = krakend/swagger2krakend
	url = git@github.com:OptimCE/swagger2krakend.git
